<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzj.achievementshop.mapper.UserMapper">
    <select id="getAll" resultType="com.xzj.achievementshop.model.User">
    SELECT * FROM USER ;
    </select>

    <insert id="insert" parameterType="com.xzj.achievementshop.model.User">
        INSERT INTO  USER(userName,passWord,totalCoin) VALUES (#{userName},#{passWord},#{totalCoin})
    </insert>

    <update id="update" parameterType="com.xzj.achievementshop.model.User">
    UPDATE  USER  SET userName=#{userName},password=#{passWord},totalCoin=#{totalCoin} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM  USER  WHERE id=#{id}
    </delete>

    <select id="queryByUserName" parameterType="String" resultType="com.xzj.achievementshop.model.User">
        SELECT * FROM USER WHERE  userName=#{username};
    </select>
</mapper>